<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avipe">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/winelogo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/winelogo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.AVIPEAPP"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".screens.presets.addPresets"
            android:exported="false" />
        <activity
            android:name=".screens.QrCodeReadPlace"
            android:exported="false" />
        <activity
            android:name=".screens.Authentication.RegisterScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.SliderScreen.SliderScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.MainScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.Authentication.LoginScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>